Source: ipy
Priority: optional
Maintainer: Damien Boucard (INL) <damien.boucard@inl.fr>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), debhelper (>= 4.1.0), python-dev (>= 2.3)
Standards-Version: 3.6.1
Section: python

Package: python2.3-ipy
Section: python
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.3)
Description: Python module for handling IPv4 and IPv6 addresses and networks
 IPy is a Python module for handling IPv4 and IPv6 addresses and
 networks in a fashion similar to perl's Net::IP and friends. The IP
 class allows a comfortable parsing and handling for most notations in
 use for IPv4 and IPv6 addresses and networks.
